.container-pai-perguntas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.486);
}
h5 {
    text-align: center;
    font-size: 2em;
    margin-bottom: -80px;
    margin-top: 100px;
}
#erro {
    display: none;
}
#segundo-erro {
    display: none;
}
#numero1 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero2 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero3 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero4 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero5 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero6 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero7 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero8 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
#numero9 {
    margin: 20px 0px 0px 20px;
    font-size: 3em;
}
h4 {
    text-align: center;
    font-size: 2em;
} 
#tentar-novamente {
    border: none;
    width: 200px;
    height: 60px;
    background-color: blue;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%);
}
#tentar-novamente:hover {
    background-color:  rgb(1, 1, 145);
    cursor: pointer;
}
.design-resp {
    border: none;
    flex: 1 1 500px;
    min-height: 100px;
    max-width: 250px;
    
    margin: 10px;
    background-color: blue;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
   
    

}
.design-resp:hover {
    background-color:  rgb(1, 1, 145);
    cursor: pointer;
}
.container-resp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
#info {
    margin: 20px 0px 0px 20px;
    font-size: 1.8em;
    cursor: pointer;
}
#div-info {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#formula {
    font-size:1.4em;
    padding-left: 10px;
    font-weight: bolder;
    display: none;
}
#pergunta1 {
    display: block;
}
#segunda-pergunta {
    display: none;
}
#terceira-pergunta {
    display: none;
}
#quarta-pergunta {
    display: none;
}
#quinta-pergunta {
    display: none;
}
#sexta-pergunta {
    display: block;
}
#setima-pergunta {
    display: none;
}
#oitava-pergunta {
    display: none;
}
#nona-pergunta {
    display: none;
}
#completo {
    display: none;
}
#completo-nivel {
    border: none;
    width: 200px;
    height: 60px;
    background-color: blue;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%);
}
#completo-nivel:hover {
    background-color:  rgb(1, 1, 145);
    cursor: pointer;
}
#imagem-6 {
    display: block;
    margin-left: 30px;
}
#container-6 {
    display: flex;
    width: 100%;
    flex-direction: row;
}
#container-6 {
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
}
#alternativa-6 {
    margin-top: 50px;
    max-width: 120px !important;
    min-height: 30px  !important;
}
#imagem-7 {
    display: block;
    margin-left: 30px;
}

#container-7{
    display: flex;
    width: 100%;
    flex-direction: row;
}
#container-7 {
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
}
#alternativa-7 {
    margin-top: 50px;
    max-width: 120px !important;
    min-height: 30px  !important;
}
#container-8 {
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: row;
}
#alternativa-8 {
    margin-top: 50px;
    max-width: 120px !important;
    min-height: 30px  !important;
}
#imagem-8 {
    display: block;
    margin-left: 30px;
}
#fonte {
    font-size: 1.4em;
}
#linear-completo{
     display: none;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .container-pai-perguntas {
        width: 90%;
    }
    h4 {
        font-size: 1.4em;
    }
    #numero1 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero2 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero3 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero4 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero5 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero6 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero7 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }#numero8 {
        margin: 10px 0px 0px 10px;
        font-size: 3em;
    }
    .design-resp {
        flex: 1 1 120px;
        min-height:90px;
        max-width: 110px;
    }
    #responsividade > h2 {
        font-size:0.8em;
    }
    #imagem-6 {
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }
    #alternativa-6 {
        margin-top: 0;
        max-width: 120px !important;
        min-height: 90px  !important;
    }
    #imagem-7 {
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }
    #alternativa-7 {
        margin-top: 0;
        max-width: 120px !important;
        min-height: 90px  !important;
    }
    #imagem-8 {
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }
    #alternativa-8 {
        margin-top: 0;
        max-width: 120px !important;
        min-height: 90px  !important;
    }
    
}